{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "stage-2"
  ],

  "plugins": [
    "syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./app/javascript"],
        "alias": {
          "assets": "./app/javascript/src",
          "packs": "./app/javascript/packs",
          "components": "./app/javascript/components",
          "main-sass": "./app/javascript/src/main.scss"
        }
      }
    ]
  ]
}
