{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%"],
          "uglify": true
        }
      }
    ],
    "stage-2"
  ],

  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    ["transform-runtime", { "polyfill": false }],
    [
      "module-resolver",
      {
        "root": ["./app/javascript"],
        "alias": {
          "assets": "./app/javascript/src",
          "packs": "./app/javascript/packs",
          "api": "./app/javascript/api",
          "stores": "./app/javascript/stores",
          "components": "./app/javascript/components",
          "main-sass": "./app/javascript/src/main.scss"
        }
      }
    ]
  ]
}
