{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%"],
          "uglify": true
        }
      }
    ],
    "stage-2"
  ],

  "plugins": [
    ["transform-runtime", { "polyfill": false }],
    [
      "module-resolver",
      {
        "root": ["./app/javascript"],
        "paths": {
          "*": ["./app/javascript/*"]
        },
        "alias": {
          "main-sass": "./app/javascript/src/main.scss"
        }
      }
    ]
  ]
}
