<!DOCTYPE html>
<html>
  <head>
    <title>WebTestEngine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
